@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fundoOpaco {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; height: 100%;
    z-index: 1;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    max-width: 95%;
    width: 600px; height: 300px;
    background: var(--cinza);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    gap: 20px; /* Espaçamento entre o texto e o ícone */
    border-radius: 20px;
}

.textoModal {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
}