:root {
    --COR_BOTAO: #ffffff;
    --COR_PRINCIPAL: #ff1a1a;
    --COR_ALERTA: #2a2a2a;
    --COR_FUNDO: #000;
    --COR_SECUNDARIA: #4a4a4a;
    --COR_TEXTO: #ffffff;
    --COR_DESTAQUE_TEXTO: #ffffff;
    --COR_HOVER: #e61919;
    --COR_TEXTO_DESTAQUE: #ff1a1a;
    --COR_CARD: #31333880;
    --COR_FORMULARIO: #ffffff;
    --COR_LINHA: #000;
    --COR_MODAL: #31333880;
    --COR_ICONE: #000;
    --COR_TEXTO_FORMULARIO: #000;
}

.header-actions{
    gap: 16px;
}

.header-cadastrar {
    background: transparent;
    border: none;
    color: var(--COR_TEXTO_DESTAQUE); /* Conectado ao vermelho principal */
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.header-login {
    background: var(--COR_BOTAO); /* Conectado ao branco */
    color: var(--COR_ICONE); /* Conectado ao preto para o texto/ícone no fundo branco */
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}

.login-icon{
    width: 20px;
    height: 20px;
}

.link {
    transition: all .2s;
    margin-right: 6px;
    color: var(--COR_TEXTO);
}

.link:hover {
    color: var(--COR_TEXTO_DESTAQUE) !important;
}

.login {
    font-size: 13px !important;
    transition: all .2s;
}

.login:hover {
    background-color: rgba(255, 255, 255, .8) !important;
}

.headerContainer {
    background-color: var(--COR_FUNDO); /* Fundo preto */
    border-bottom: 2px solid var(--COR_PRINCIPAL); /* A linha sólida vermelha */
    box-shadow: 0px 4px 15px rgba(255, 26, 26, 0.3); /* Glow mantido conforme original */
    width: 100%;
}

.logoImg {
    width: 100px;
}

/* Responsividade da logo para telas pequenas */
@media (max-width: 576px) {
    .logoImg {
        width: 80px;
    }
}

.loginIcon {
    width: 16px;
    height: 16px;
}

.link {
    transition: all .2s;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.link:hover {
    color: var(--COR_TEXTO_DESTAQUE) !important; /* Fica vermelho ao passar o mouse */
}

/* Ajuste para telas de 320px até 375px */
@media (max-width: 375px) {
    .logoImg {
        width: 75px;
    }

    .link {
        font-size: 11px;
        padding: 0 4px;
    }

    .loginIcon {
        width: 14px;
        height: 14px;
    }
}