.card {
    background-color: #313338; /* Cinza escuro do fundo do card */
    border-radius: 12px;
    padding: 16px;
    width: 205px;
    height: 370px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /* Fonte */
    color: #ffffff;
    margin-left: 17px;
}

.containerImagem {
    position: relative;
    width: 100%;
    height: 380px; /* Altura aproximada do pôster */
    margin-bottom: 16px;
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.badgeClassificacao {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 14px;
    font-weight: 800;
    padding: 3px 6.5px;
    border-radius: 4px;
}

.bgPreto { background-color: #000000; color: #ffffff; }
.bgAzul { background-color: #0ea5e9; color: #ffffff; }
.bgPadrao { background-color: #18DD5A; color: #ffffff; }
.bgVermelho { background-color: #CC1A1A; color: #ffffff; }
.bgLaranja { background-color: #DD8118; color: #ffffff; }
.bgAmarelo { background-color: #FFD918; color: #ffffff; }



.infos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.linhaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.detalhesSecundarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.horario {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.titulo {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.estrelas {
    color: #facc15; /* Amarelo das estrelas */
    font-size: 16px;
    letter-spacing: 2px;
}

.horario {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}

.containerBotao {
    margin-top: auto; /* Empurra o botão para o fim se a altura do card variar */
}