:root {
    --COR_BOTAO: #ffffff;
    --COR_PRINCIPAL: #ff1a1a;
    --COR_ALERTA: #2a2a2a;
    --COR_FUNDO: #000;
    --COR_SECUNDARIA: #4a4a4a;
    --COR_TEXTO: #ffffff;
    --COR_DESTAQUE_TEXTO: #ffffff;
    --COR_HOVER: #e61919;
    --COR_TEXTO_DESTAQUE: #ff1a1a;
    --COR_CARD: #31333880;
    --COR_FORMULARIO: #ffffff;
    --COR_LINHA: #000;
    --COR_MODAL: #ececec; /* Ajustado para manter o tom de cinza claro original do seu modal */
    --COR_ICONE: #000;
    --COR_TEXTO_FORMULARIO: #111;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.titulo {
    color: white;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 4px;
    margin-bottom: 18px;
}

.formulario {
    width: 700px;
    background: #e9e9e9;
    border-radius: 35px;
    padding: 35px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-size: 16px;
    font-weight: 800;
    color: black;
    margin-bottom: 6px;
}

.inputGroup input {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    font-size: 18px;
    padding: 8px 0;
    color: black;
}

.inputGroup input::placeholder {
    color: #666;
}

.dupla {
    display: flex;
    gap: 20px;
}

.dupla .inputGroup {
    flex: 1;
}

.botao {
    width: 100%;
    height: 60px;
    background: #ff1b1b;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.botao:hover {
    background: #ff3535;
    transform: scale(1.01);
}

input[type="file"] {
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width: 800px) {

    .formulario {
        width: 95%;
        padding: 25px;
    }

    .titulo {
        font-size: 34px;
        text-align: center;
    }

    .dupla {
        flex-direction: column;
        gap: 25px;
    }

    .botao {
        font-size: 18px;
        height: 55px;
    }
}