.container-banner {
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/* FORM */
.card-banner {
    width: 360px;
    background: #e7e7e7;
    border-radius: 20px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.card-banner h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 10px;
}

/* IMAGEM */
.upload-imagem {
    width: 100%;
    height: 130px;
    border: 1px solid #666;
    background: #dcdcdc;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-imagem span {
    font-size: 14px;
    color: #555;
}

/* CAMPOS */
.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo label {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.campo input {
    border: none;
    border-bottom: 1px solid #888;
    background: transparent;
    padding: 8px 0;
    outline: none;
    font-size: 14px;
}

/* CHECKBOX */
.campo-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #888;
    padding-bottom: 8px;
}

.campo-checkbox label {
    font-size: 14px;
    font-weight: bold;
}

/* BOTÕES */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.botoes button {
    width: 95px;
    height: 35px;
    border: none;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.botoes button:hover {
    transform: scale(1.05);
}

.botoes button[type="submit"] {
    background: #ff1e2d;
}

.excluir {
    background: black !important;
}

/* PREVIEW */
.preview-banner {
    width: 600px;
    height: 350px;
    background: #111;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: end;
}

.preview-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.preview-conteudo {
    width: 100%;
    padding: 25px;
    position: relative;
    z-index: 2;
    background: linear-gradient(
            transparent,
            rgba(0,0,0,0.9)
    );
    color: white;
}

.preview-conteudo h3 {
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: bold;
}

.preview-conteudo p {
    font-size: 17px;
    margin-bottom: 18px;
}

.preview-conteudo span {
    background: #ff1e2d;
    padding: 7px 16px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
}