@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif !important;
}

:root {
  --COR_BOTAO: #ffffff;
  --COR_PRINCIPAL: #ff1a1a;
  --COR_ALERTA: #2a2a2a;
  --COR_FUNDO: #000;
  --COR_SECUNDARIA: #4a4a4a;
  --COR_TEXTO: #ffffff;
  --COR_DESTAQUE_TEXTO: #ffffff;
  --COR_HOVER: #e61919;
  --COR_TEXTO_DESTAQUE: #ff1a1a;
  --COR_CARD: #31333880;
  --COR_FORMULARIO: #ffffff;
  --COR_LINHA: #000;
  --COR_MODAL: #31333880;
  --COR_ICONE: #000;
  --COR_TEXTO_FORMULARIO: #000;
}

body {
  background-color: var(--COR_FUNDO); /* Conectado ao fundo preto do root */
}

.footer {
  background-color: var(--COR_PRINCIPAL); /* Conectado à cor principal (botões/footer) */
  color: var(--COR_TEXTO); /* Conectado ao texto branco */
  padding: 40px 10%;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 250px;
  height: auto;
}

.footer-info p {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 500;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  font-size: 12px;
  color: var(--COR_TEXTO);
}

.fs-6 {
  font-size: 13px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}