
.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: norepeat;
}

.banner::before {
    left: 0;
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .2) 100%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.banner > * {
    position: relative;
    z-index: 1;
}

.setaButton {
    color: white;
    background-color: rgba(255, 255, 255, .2) !important;
}

.setaButton:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: black;
}

.ponto {
    width: 80px;
    height: 12px;
    background-color: #666;
    cursor: pointer;
    transition: 0.3s;
}